# Node.js
/**/node_modules/
/**/dist/


# ide
/**/.idea/
/.comate/
/**/.comate/

# java

# 忽略所有目录中的 target 文件夹
/**/target/
# qiye-project/202506091014/blog-system/backend/target

# 忽略所有目录中的 log 文件夹
/**/logs/
/**/log/
*.log


# file
/**/upload/

# dir
/qiye-project/202506091014/blog-system/backend/.idea