<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.prescription.mapper.AuthorityMapper">
  <resultMap id="BaseResultMap" type="com.example.prescription.entity.Authority">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="authority" jdbcType="VARCHAR" property="authority" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from authority
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.prescription.entity.Authority">
    insert into authority (id, user_id, authority
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{authority,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.prescription.entity.Authority">
    update authority
    set user_id = #{userId,jdbcType=INTEGER},
      authority = #{authority,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, authority
    from authority
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, authority
    from authority
  </select>
</mapper>